.about__description {
    color: #595959;
    font-weight: 100;
}

@media screen and (min-width: 0px) {
    .about__description  {
        font-size: 1.2rem;
    }   
}

@media screen and (min-width: 768px) {
    .about__description  {
        font-size: 1.50rem;
    }
}